<article class="post">
	<div class="page-title">
		<h2 class="title"><%- page.title %></h2>
	</div>
	<div class="page-meta">
		<span class="created-time"><%- __('post.created')+" "+date(page.time) %></span>
	</div>
	<div class="page-content">
		<%- page.content %>
	</div>
</article>