a
	color #368CCB
	text-decoration none
	transition all .15s

	&:hover
		color #46ACFB

	&:active
		color #266C9B

@import "_partial/header";
@import "_partial/aside";
@import "_partial/post";